
  {{#each items}}
    <div class="col-4 justify-content-center text-center">
      <h1 class="artist-name">{{this.name}}</h1>
      <img src="{{this.image}}" alt="Artist Image">
      <button><a href="/artists">View Artist</a></button>
    </div>
  {{/each}} 